.kiri {
    width: 150px;
    height: 500px;
    background-color: blueviolet;
    float: left;
}
.tengah {
    width: 500px;
    height: 500px;
    background-color: rgb(226, 43, 43);
    float: left;
}
.kanan {
    width: 150px;
    height: 500px;
    background-color: rgb(43, 226, 211);
    float: left;
}
