li {
display: inline-block;
font-family: arial;
}
a {
    text-decoration: none;
}
p {
    font-family: arial;
    font-style: normal;
    font-size: 16px;
    text-align: justify;
}
.paragraf {
    font-family: arial;
}
nav {
    display: flex;
    color: aliceblue;
    gap: 20px;
    background-color: aqua;

}
nav li :hover {
    color: rgb(23, 185, 64);
}
a {
    text-decoration: none;
}
header {
    font-size: 50px;
    font-family: arial;
    background-color: aqua;
}
.home{
    margin: 30px;
    overflow:auto;
    padding: 20px;
}
.about {
    margin: 30px;
    overflow: auto;
    padding: 20px;
}
.product {
    margin: 30px;
    overflow: auto;
    padding: 20px;
}
.service {
    margin: 30px;
    overflow: auto;
    padding: 20px;
}
.kontak {
    margin: 30px;
    overflow: auto;
    padding: 20px;
}
img {
    width: 100%;
}
.judul {
    font-size: 22px;
}